<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>List of Products</h1>
           <a href="/products/new">
            <input type="button" value="create new Product">
       </a>
       <ul>
        <% for(let i = 0; i < products.length; i++){ %>
            <div class="container">
                <li>Name: <%=products[i].name%></li>
                <li>Description: <%=products[i].description%></li>
                <li>Price: $<%=products[i].price%></li>
                <li>Quantity: <%=products[i].qty%></li>
                <img src="<%=products[i].img%>"><br>
                <% if (products[i].qty > 0){ %>
                    <form action="/products/<%=products[i].id%>/buy?_method=PUT" method="POST">
                        <input type="submit" value="Buy!">
                    </form>
                <% } else { %> 
                    <p>Product is out of stock</p>
                <% } %>               
                <a href="/products/<%=products[i].id%>">
                    <input type="button" value="See Product">
                </a>

                <form action='/products/<%=products[i].id%>?_method=DELETE' method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/products/<%=products[i].id%>/edit">
                    <input type="button" value="Edit">
                </a>

            </div>
        <% } %>
       </ul>

</body>
</html>