<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/script/pokescript.ejs"></script>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Edit Pokemon</title>
</head>
<body>
    <div class="form-container">
        <h1>Edit Pokemon</h1>
        <form action="/pokemon/<%=index%>?_method=PUT" method="POST">
            <div class="name-title">Name: </div>
            <input type="text"  name="name" value="<%=Pokemon.name%>"><br>
            <div class="name-title">Image Source: </div>
            <input id='imgsrc' type="url" name="img" value="<%=Pokemon.img%>"><br>
            <div class="name-title">Id: </div>
            <input type="text" class="readonly" readonly name="id" value="<%=Pokemon.id%>">
            <h2>Types:</h2>
            <input type="text" name="type" value="<%=Pokemon.type%>"></div>
            <h2>Stats:</h2>
            <div class="name-title">hp: </div>
            <input type="number" name="hp" value="<%=Pokemon.stats.hp%>">
            <div class="name-title">attack: </div>
            <input type="number" name="attack" value="<%=Pokemon.stats.attack%>"><br>
            <div class="name-title">defense: </div>
            <input type="name-title" name="defense" value="<%=Pokemon.stats.defense%>"><br>
            <input type="submit" id="submit" name="" value="Save Edit">
        </form>
        <form method="get" action="/pokemon/<%=index%>">
            <input type="submit" class="small-button" value="go back">
        </form>
    </div>
</body>
</html>