<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/script/pokescript.ejs"></script>
    <title>Document</title>
</head>
<body>
    <div class="id">id: <%=Pokemon.id%></div>
    <div class="name"><h2> <%= Pokemon.name %></h2></div>
    <div class="image"><img src="<%= Pokemon.img %>"></div>
    <div class="types"><h3>Types:</h3>
        <ul>
        <% for (let j in Pokemon.type) { %>
            <li>
            <%= Pokemon.type[j] %>
            </li>
        <% } %>
        </ul>
    </div>

    <div class="stats"><h3>Stats:</h3>
        <ul>
            <li>
                HP: <%= Pokemon.stats.hp %>
            </li>
            <li>
                Attack: <%= Pokemon.stats.attack %>
            </li>
             <li>
                Defense: <%= Pokemon.stats.defense %>
            </li>
        </ul>
    </div>
<div class="edit">
        <button ><a href='/pokemon/<%=index%>/edit'>Edit</a></button>
    </div>
<div class="return">
    <button ><a href='/pokemon'>Go Back</a></button>
</div>
</body>
</html>